<div class="<%= message.role == 'user' ? 'ml-auto bg-blue-500' : 'mr-auto bg-gray-600' %> max-w-[80%] rounded-lg p-4 mb-4 text-white">
  <div class="font-bold mb-1"><%= message.role.titleize %></div>
  <div class="whitespace-pre-wrap"><%= message.content %></div>
</div> 