<style>
  .flash-message {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    min-width: 400px;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    animation: slideDown 0.5s ease-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
  }

  .flash-message.notice {
    border-left: 6px solid #10B981;
    background-color: #ECFDF5;
  }

  .flash-message.alert {
    border-left: 6px solid #EF4444;
    background-color: #FEF2F2;
  }

  .flash-content {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    gap: 1rem;
  }

  .flash-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .flash-message.notice .flash-icon {
    color: #10B981;
  }

  .flash-message.alert .flash-icon {
    color: #EF4444;
  }

  .flash-close {
    margin-left: auto;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #6B7280;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flash-close svg {
    width: 20px;
    height: 20px;
  }

  .flash-close:hover {
    color: #374151;
  }

  @keyframes slideDown {
    from {
      transform: translate(-50%, -200%);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .flash-message.opacity-0 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
</style>

<% flash.each do |type, message| %>
  <div class="flash-message <%= type %>" role="alert" data-controller="flash">
    <div class="flash-content">
      <% if type == "notice" %>
        <svg class="flash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
      <% elsif type == "alert" %>
        <svg class="flash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
      <% end %>
      <%= message %>
      <button type="button" class="flash-close" data-action="click->flash#dismiss">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
<% end %> 